* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  width: 1920px;
}

header {
  width: 1920px;

  background: rgba(229, 84, 115, 0.1);
}
footer {
  font-family: "Lato", sans-serif;
  width: 1920px;
  background: #111010;
}
.banner-container {
  display: flex;
  margin: 0px 240px;
  align-items: center;
}
.banner-container img {
  margin-top: 30px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 700px;
  margin-bottom: 30px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.primary-btn {
  border-radius: 8px;
  background: #e55473;
  border: none;
  font-size: 20px;
  
  padding: 20px 43px;
  color: white;
}
.featured {
  margin: 130px 0px;
}
.featured-content {
  margin: 0px 650px 40px 650px;
}
.featured-title {
  color: #272727;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 70px;
}
.featured-card {
  display: flex;
  margin: 0px 240px;
  gap: 30px;
}
.featured-img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0px 76px;
}
.featured-img2 {
  padding: 117px 40px 51px 47px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.featured-img3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 67px 70px 0px 75px;
}
.item-description {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.latest-section {
  display: flex;
  gap: 22px;
  justify-content: space-around;
  padding: 70px;
}
.latest-product {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.1);
  margin: 80px 240px;
}
.latest-content {
  padding-top: 70px;
  text-align: center;
}
.latest_product-title {
  color: #272727;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
.latest_product-subtitle {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-top: 20px;
    padding: 0px 350px;
}
.card {
  width: 320px;
  height: 330px;

  background-color: #fff;
  text-align: center;
}
.product-card {
  text-align: center;
}
.latest-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 10px 0px;
}
.latest-img {
  width: 320px;
  height: 330px;
  border-radius: 10px;
}
.service-container {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  margin: 0px 240px;
  padding: 87px 175px;
  gap: 80px;
}
.service {
  text-align: center;
  align-items: center;
}
.service-description {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.hot-deal {
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 423px;
  gap: 190px;
  align-items: center;
  margin-top: 150px;
}
.deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.deal-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.deal-content {
  text-align: center;
}
.social-section {
  margin: 130px 240px;
}
.content {
  text-align: center;
}
.social-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
}
.social-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 400px;
}
.social-image {
  display: flex;
  gap: 25px;
  margin-top: 50px;
}
.subscription-section {
  background-image: url("./asset/Rectangle 9.png");
  background-repeat: no-repeat;
  margin: 0px 240px;
  text-align: center;
  padding: 122px 0px;
}
.subscription-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.subscription-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-top: 15px;
}
input {
  border-radius: 8px;
  background: #fff;
  width: 700px;
  height: 50px;
  flex-shrink: 0;
  border: none;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
  margin-right: 10px;
  margin-top: 30px;
}
.footer-content {
  text-align: center;
  padding: 128px 0px;
  margin: 120px 650px 0px 650px;
}
.footer-title {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.mart {
  color: white;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.coppy-right {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 40px;
}
